

# vtu and pvd files
*.vtu
*.pvd
*.aux
*.log
*.out
*.thm
*.synctex.gz
*.pytxcode
*.AppImage
.AppImage

*.bbl
*.bcf
*.blg
*.glo
*.ist
*.lof
*.lol
*.lot
*.run.xml
*.toc
*.loa
/coding/__pycache__/
*.zip


2019_Book_LehrbuchDerTechnischenMechanik.pdf
.idea
Projektbeschreibung
/coding/MyFile1.txt
/coding/MyFile2.txt
/coding/MyFile5.txt
/coding/MyFile22.txt
/coding/LRP_Outputs/
/Dokumentation/document.pdf
